@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=VT323&display=swap');

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Dongle', sans-serif;
	font-family: 'VT323', monospace;
	font-size: 20px;
}
body{
	background: black;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
}

#game-container{
	top: 30px;
	position: relative; 
	display: inline-block;
}

#top-container {
	position: absolute; 
	display: flex; 
	width: 100%; 
	align-items: center; 
	padding: 20px
}

#timer{
	background: linear-gradient(45deg, rgba(228,23,85,1) 25%, rgb(76, 51, 238) 75%);
	height: 100px;
	width: 100px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	border: 3.5px solid #4d4c4a;
	border-bottom: 7px solid #4d4c4a;
	border-radius: 10%;
	color: rgb(255, 255, 255);
	box-shadow: 0px 10px 10px rgba(55,54,52,0.5);
	text-shadow: 5px 5px 5px rgba(55,54,52,0.5);
	font-size: 50px;
	z-index: 10;
}

#EndScreen {
	position: absolute; 
	color: white; /*display: flex;*/ 
	align-items: center; 
	justify-content: center; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	display: none;
}

.credit{
	position: absolute;
	color: white;
	top: 0%;
	left: 5%;
}

#EndScreen-button {
	position: absolute; 
	color: white; /*display: flex;*/ 
	align-items: center; 
	justify-content: center; 
	top: 55%; 
	left: 50%; 
	display: none;
	width: 70px;
	height: 30px;
	border: 3px solid white;
	background: transparent;
	border-radius: 5px;
	cursor: pointer;
}

/*player healthbar*/
#playerHealthContainer{
	position: relative; 
	height: 30px; width: 100%; 
	display: flex;
	justify-content: flex-end;
	border: 3px solid #4d4c4a;
	border-left: 10px solid #4d4c4a;
	border-left-style: double;
	box-shadow: 5px 5px 5px rgba(55,54,52,0.5);
	transform: skewX(30deg) translateX(9px);
}

#playerHealth{
	position: absolute; 
	background: linear-gradient(322deg, rgba(228,23,85,1) 25%, rgba(106,8,8,1) 100%);
	border-left: 3px solid #4d4c4a;
	top: 0; right: 0; bottom: 0; 
	width: 100%;
	transition: 0.5s;
}

#playerHealth:before{
	content: '';
	position: absolute;
	width: 10%;
	height: 100%;
	background: white;
	opacity: 30%;
	filter: blur(10);
	animation: healthAnimate 5s linear infinite;
}

@keyframes healthAnimate{
	0%{
		left: 0%;
	}
	100%{
		left: 1000%;
	}
}

#player-background-health{
	background-color: rgba(255, 255, 255, 0.1); 
	height: 30px; width: 100%
}

/*enemy healthbar*/
#enemyHealthContainer{
	position: relative; 
	height: 30px; width: 100%;
	border: 3px solid #4d4c4a;
	border-right: 10px solid #4d4c4a;
	border-right-style: double;
	box-shadow: 5px 5px 5px rgba(55,54,52,0.5);
	transform: skewX(-30deg) translateX(-9px);
}

#enemyHealth{
	position: absolute; 
	background: linear-gradient(322deg, rgb(11, 16, 151) 25%, rgb(76, 51, 238) 100%); 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
	transition: 0.5s;
}

#enemy-background-health{
	background-color: rgba(21, 0, 255, 0.1);
	height: 30px
}

/*menu*/
.MenuBox{
	position: absolute;
	width: 100%;
	height: 100%;
	background: grey;
	
}

/*effects*/
.playerEffects{
	position: absolute;
	top: 100px;
	left: 30px
}

.enemyEffects{
	position: absolute;
	top: 100px;
	left: 90%
}

.textShower{
	position: absolute;
	top: 40%;
	left: 30%;
	color: red;
}

.textShower.player{
	position: absolute;
	top: 40%;
	left: 30%;
	color: red;
}

.textShower.enemy{
	position: absolute;
	top: 30%;
	left: 70%;
	color: red;
}

.text{
	font-size: 50px
}

.text.crited{
	animation: textShow 0.5s;
}

@keyframes textShow{
	0%{
		opacity: 0%;
		transform: rotate(0deg);
	}
	100%{
		opacity: 100%;
		transform: rotate(360deg);
	}
}

.controlDiv{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding: 10px;
	height: 33vh;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(0 5px 5px rgba(79, 19, 19, 0.5));
	display: none;
}

.controlDiv button{
	top: 300%;
	height: 10vh;
	width: 10vh;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	border: none;
	transition: 0.5s;
}

.controlDiv button:hover{
	opacity: 50%;
	border: 6px solid #c0c0c0;
	border-left: 6px solid rgb(204, 25, 25);
	border-top: 6px solid rgba(106,8,8,1);
	border-radius: 10px;
	box-shadow: 0px 5px 5px rgba(55,54,52,0.5);
}

.controlDiv button ion-icon{
	font-size: 50px;
	color: #262626;
}

.controlDiv button:nth-child(1){
	transform: translateX(10vh) translateY(-10vh);
}

.controlDiv button:nth-child(2){
	transform: translateX(-10vh) translateY(0);
}

.controlDiv button:nth-child(4){
	transform: translateX(-20vh) translateY(10vh);
}

.fightBut{
	border: none;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #262626;
	border-radius: 10%;
}

.controller{
	position: absolute;
	width: 30vh;
	bottom: 0;
	left: 0;
	margin: 10px;
	filter: drop-shadow(0 5px 5px rgba(79, 19, 19, 0.5));
	display: none;
}

.warn{
	background: white;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 100000;
	display: none;
}

.mainScreen{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: black;
	z-index: 100000;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title{
	position: absolute;
	font-size: 40px;
	top: 30%
}

.pvpBut, .pvABut{
	position: absolute;
	top: 50%;
	width: 100px;
	height: 50px;
	border-radius: 10px;
	outline: none;
	border: 5px solid black;
	background: transparent;
	color: white;
	transition: 0.5s;
	text-align: center;
}

.pvABut{
	top: 60%;
}

.pvpBut:hover,.pvABut:hover{
	width: 130px;
	height: 60.5px;
	background: white;
	border: none;
	color: black;
}

@media only screen and (max-width: 768px) {
	.controlDiv{
		display: flex;
	}
	.controller{
		display: flex;
	}
	.warn{
		display: flex;
	}
}